<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="validationAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.elaborazione.validazione.ValidationAggregatorStrategy"/>

    <bean id="verificaValidazioneProcessor" class="it.extrasys.marche.regione.fatturapa.elaborazione.validazione.VerificaValidazioneProcessor"/>

    <bean id="performValidationCheck" class="it.extrasys.marche.regione.fatturapa.elaborazione.validazione.PerformValidationCheckProcessor">
        <argument index="0" value="${committenti.codiciUfficio.CSV}"/>
    </bean>

    <bean id="aggiornaStatoFattureARifiutataPerValidazioneFallitaProcessor" class="it.extrasys.marche.regione.fatturapa.elaborazione.validazione.AggiornaStatoFattureARifiutataPerValidazioneFallitaProcessor">
        <property name="datiFatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="datiFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.DatiFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="datiFatturaDao" ref="datiFatturaDao" />
        <property name="statoFatturaDao" ref="statoFatturaDao" />
        <property name="codificaStatiDao" ref="codificaStatiDao" />
    </bean>

    <bean id="entiOspedalieriValidazioneWhitelistManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EntiOspedalieriValidazioneWhitelistManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="entiOspedalieriValidazioneWhitelistDao" ref="entiOspedalieriValidazioneWhitelistDao" />
    </bean>

    <bean id="entiOspedalieriValidationWhitelistCheckProcessor" class="it.extrasys.marche.regione.fatturapa.elaborazione.validazione.EntiOspedalieriValidationWhitelistCheckProcessor">
        <property name="entiOspedalieriValidazioneWhitelistManager" ref="entiOspedalieriValidazioneWhitelistManager"/>
    </bean>

    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>

    <bean id="entiOspedalieriValidazioneWhitelistDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntiOspedalieriValidazioneWhitelistDao"/>

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="5" />
    </bean>
</blueprint>