<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">


    <bean id="regma116ScodaDLQSalvaFatturaIn" class="it.extrasys.marche.regione.fatturapa.patch.processor.Regma116ScodaDLQSalvaFatturaIn">
        <property name="producer" ref="producer"/>
        <property name="consumer" ref="consumer"/>
        <property name="codaDlqSalvaFattureIn" value="vm:DLQ.salva.fatture.in.queue" />

        <!--property name="codaTmpDlqSalvaFattureIn" value="vm:TEMP.DLQ.salva.fatture.in.queue" /-->

        <property name="codaSalvaFattureIn" value="vm:salva.fatture.in.queue" />

        <property name="datiFatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="datiFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.DatiFatturaManager">
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>

    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>

    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>

    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>

</blueprint>