<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="recuperaListaIdentificativiSdiProcessorPassiva"
          class="it.extrasys.marche.regione.fatturapa.storicizzazione.processor.RecuperaListaIdentificativiSdiPassivaProcessor">
        <property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManagerRef"/>
    </bean>

    <bean id="salvaFatturaPassivaStoricizzataProcessor"
          class="it.extrasys.marche.regione.fatturapa.storicizzazione.processor.SalvaCancellaFatturaPassivaStoricizzataProcessor">
        <property name="fatturazionePassivaStoricizzataManager" ref="fatturazionePassivaStoricizzataManager"/>
    </bean>

    <bean id="reportAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.storicizzazione.aggregator.ReportPassivaAggregationStrategy"/>


    <!--Attiva-->
    <bean id="recuperaListaIdentificativiSdiProcessorAttiva"
          class="it.extrasys.marche.regione.fatturapa.storicizzazione.processor.RecuperaListaIdentificativiSdiAttivaProcessor">
        <property name="fatturaAttivaManager" ref="fatturaAttivaManager"/>
    </bean>

    <bean id="salvaFatturaAttivaStoricizzataProcessor" class="it.extrasys.marche.regione.fatturapa.storicizzazione.processor.SalvaCancellaFatturaAttivaStoricizzataProcessor">
        <property name="fatturazioneAttivaStoricizzataManager" ref="fatturazioneAttivaStoricizzataManager"/>
    </bean>


    <bean id="fatturazioneAttivaStoricizzataManager"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazioneAttivaStoricizzataManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="fatturaAttivaStoricizzataDao" ref="fatturaAttivaStoricizzataDao"/>
        <property name="notificheAttivaFromSdiDao" ref="notificheAttivaFromSdiDao"/>
        <property name="fatturaAttivaRicevutaConsegnaDao" ref="fatturaAttivaRicevutaConsegnaDao"/>
        <property name="fatturaAttivaNotificaMancataConsegnaDao" ref="fatturaAttivaNotificaMancataConsegnaDao"/>
        <property name="fatturaAttivaNotificaScartoDao" ref="fatturaAttivaNotificaScartoDao"/>
        <property name="fatturaAttivaNotificaEsitoDao" ref="fatturaAttivaNotificaEsitoDao"/>
        <property name="fatturaAttivaNotificaDecorrenzaTerminiDao" ref="fatturaAttivaNotificaDecorrenzaTerminiDao"/>
        <property name="fatturaAttivaAttestaioneTrasmissioneFatturaDao" ref="fatturaAttivaAttestaioneTrasmissioneFatturaDao"/>
        <property name="statoAttivaAttestazioneTrasmissioneFatturaDao" ref="statoAttivaAttestazioneTrasmissioneFatturaDao"/>
        <property name="statoAttivaRicevutaConsegnaDao" ref="statoAttivaRicevutaConsegnaDao"/>
        <property name="statoAttivaNotificaMancataConsegnaDao" ref="statoAttivaNotificaMancataConsegnaDao"/>
        <property name="statoAttivaNotificaScartoDao" ref="statoAttivaNotificaScartoDao"/>
        <property name="statoAttivaNotificaEsitoDao" ref="statoAttivaNotificaEsitoDao"/>
        <property name="statoAttivaNotificaDecorrenzaTerminiDao" ref="statoAttivaNotificaDecorrenzaTerminiDao"/>
        <property name="fatturaAttivaDao" ref="fatturaAttivaDao"/>
    </bean>


    <bean id="fatturaAttivaManager"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaManagerImpl">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="fatturaAttivaDao" ref="fatturaAttivaDao"/>
        <property name="statoFatturaAttivaDao" ref="statoFatturaAttivaDao"/>
        <property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao"/>
        <property name="enteDao" ref="enteDao"/>
        <property name="statoConverter" ref="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter"/>
    </bean>

    <bean id="fatturaAttivaNotificheManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaNotificheManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao"/>
        <property name="fatturaAttivaRicevutaConsegnaDao" ref="fatturaAttivaRicevutaConsegnaDao"/>
        <property name="fatturaAttivaNotificaMancataConsegnaDao" ref="fatturaAttivaNotificaMancataConsegnaDao"/>
        <property name="fatturaAttivaNotificaScartoDao" ref="fatturaAttivaNotificaScartoDao"/>
        <property name="fatturaAttivaNotificaEsitoDao" ref="fatturaAttivaNotificaEsitoDao"/>
        <property name="fatturaAttivaNotificaDecorrenzaTerminiDao" ref="fatturaAttivaNotificaDecorrenzaTerminiDao"/>
        <property name="fatturaAttivaAttestaioneTrasmissioneFatturaDao" ref="fatturaAttivaAttestaioneTrasmissioneFatturaDao"/>
        <property name="statoAttivaRicevutaConsegnaDao" ref="statoAttivaRicevutaConsegnaDao"/>
        <property name="statoAttivaNotificaMancataConsegnaDao" ref="statoAttivaNotificaMancataConsegnaDao"/>
        <property name="statoAttivaNotificaScartoDao" ref="statoAttivaNotificaScartoDao"/>
        <property name="statoAttivaAttestazioneTrasmissioneFatturaDao" ref="statoAttivaAttestazioneTrasmissioneFatturaDao"/>
        <property name="statoAttivaNotificaEsitoDao" ref="statoAttivaNotificaEsitoDao"/>
        <property name="statoAttivaNotificaDecorrenzaTerminiDao" ref="statoAttivaNotificaDecorrenzaTerminiDao"/>
    </bean>

    <bean id="fatturazionePassivaFatturaManagerRef"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="fileFatturaDao" ref="fileFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>

    <bean id="fatturazionePassivaStoricizzataManager"
          class=" it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaStoricizzataManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="fileFatturaDao" ref="fileFatturaDao"/>
        <property name="metadatiFatturaDao" ref="metadatiFatturaDao"/>
        <property name="fatturaPassivaStoricizzataDao" ref="fatturaPassivaStoricizzataDao"/>

    </bean>

    <bean id="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.FatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter"/>

    <!--DAO-->
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>
    <bean id="metadatiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.MetadatiFatturaDao"/>
    <bean id="fileFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FileFatturaDao"/>
    <bean id="fatturaPassivaStoricizzataDao"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaPassivaStoricizzataDao"/>
    <bean id="fatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaDao"/>
    <bean id="statoFatturaAttivaDao"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaAttivaDao"/>
    <bean id="codificaStatiAttivaDao"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiAttivaDao"/>
    <bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao"/>
    <bean id="fatturaAttivaStoricizzataDao"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaStoricizzataDao"/>
    <bean id="notificheAttivaFromSdiDao"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificheAttivaFromSdiDao"/>

    <bean id="fatturaAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaRicevutaConsegnaDao"/>
    <bean id="fatturaAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaMancataConsegnaDao"/>
    <bean id="fatturaAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaScartoDao"/>
    <bean id="fatturaAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaEsitoDao"/>
    <bean id="fatturaAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaDecorrenzaTerminiDao"/>
    <bean id="fatturaAttivaAttestaioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaAttestaioneTrasmissioneFatturaDao"/>
    <bean id="statoAttivaAttestazioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaAttestazioneTrasmissioneFatturaDao"/>
    <bean id="statoAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaRicevutaConsegnaDao"/>
    <bean id="statoAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaMancataConsegnaDao"/>
    <bean id="statoAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaScartoDao"/>
    <bean id="statoAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaEsitoDao"/>
    <bean id="statoAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaDecorrenzaTerminiDao"/>
    <bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
    <bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
    <bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
    <bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
    <bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>
    <bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
    <bean id="utentiServizioDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiServizioDao"/>
    <bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="30"/>
    </bean>

</blueprint>