<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="regma132ReinviaPecNonConsegnate" class="it.extrasys.marche.regione.fatturapa.patch.Regma132ReinviaPecNonConsegnate">
        <property name="producer" ref="producer"/>
        <property name="consumer" ref="consumer"/>
        <property name="codaPecNotificaMancataConsegna" value="activemq:queue:pec.notifica.non.accettazione.mancata.consegna.queue" />
        <!--property name="codaPecNotificaMancataConsegnaReinviati" value="activemq:queue:pec.notifica.non.accettazione.mancata.consegna.reinviati.queue" /-->
        <property name="codaPecNotificaMancataConsegnaReinviati" value="activemq:pec.notifica.non.accettazione.mancata.consegna.reinviati.queue" />
        <property name="datiFatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="datiFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.DatiFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>

    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>


    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="5"/>
    </bean>

</blueprint>