<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="XA_TX_REQUIRED" class="org.apache.camel.spring.spi.SpringTransactionPolicy">
        <property name="transactionManager" ref="platformTxManager" />
    </bean>

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="5" />
    </bean>

    <bean id="wsAttivaInvioFatturaRedeliveryPolicyConfig" class="org.apache.camel.processor.RedeliveryPolicy">
        <property name="maximumRedeliveries" value="${fattura.attiva.ricevi.retry.attempts}" />
        <property name="redeliveryDelay" value="${fattura.attiva.ricevi.retry.delay}" />
        <property name="useExponentialBackOff" value="true" />
    </bean>

    <!-- DAO -->
    <bean id="notificaFromEntiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaFromEntiDao" />
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao" />
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao" />
    <bean id="notificaFromEntiToEntityCAConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.NotificaFromEntiToEntityCAConverter" />
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao" />
    <bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao" />
    <bean id="fatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaDao" />
    <bean id="statoFatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaAttivaDao" />
    <bean id="codificaStatiAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiAttivaDao" />
    <bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
    <bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
    <bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
    <bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
    <bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
    <bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>
    <bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>

    <bean id="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.FatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" />

    <!-- MANAGER -->
    <bean id="chiaveManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.ChiaveManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="chiaveDao" ref="chiaveDao"/>
    </bean>
    <bean id="notifichePersistenceCAManagerXA" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaNotificheCAManagerXAImpl">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit-xa" />
        <property name="notificaDao" ref="notificaFromEntiDao" />
        <property name="statoFatturaDao" ref="statoFatturaDao" />
        <property name="codificaStatiDao" ref="codificaStatiDao" />
        <property name="datiFatturaDao" ref="datiFatturaDao" />
        <property name="notificaFromEntiToEntityCAConverter" ref="notificaFromEntiToEntityCAConverter" />
    </bean>
    <bean id="enteManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EnteManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="enteDao" ref="enteDao"/>
        <property name="utentiDao" ref="utentiDao"/>
        <property name="tipoCanaleDao" ref="tipoCanaleDao"/>
        <property name="endpointAttivaCaDao" ref="endpointAttivaCaDao"/>
        <property name="endpointCaDao" ref="endpointCaDao"/>
        <property name="canaleCaDao" ref="canaleCaDao"/>
        <property name="chiaveDao" ref="chiaveDao"/>
        <property name="entePaleoCaDao" ref="entePaleoCaDao"/>
    </bean>
    <bean id="fatturaAttivaFromEntiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaManagerImpl">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="fatturaAttivaDao" ref="fatturaAttivaDao" />
        <property name="statoFatturaAttivaDao" ref="statoFatturaAttivaDao" />
        <property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao" />
        <property name="enteDao" ref="enteDao" />
        <property name="statoConverter" ref="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" />
    </bean>
    <bean id="fatturazioneAttivaRiceviManager" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.FatturazioneAttivaRiceviManager">
        <property name="fatturaAttivaFromEntiManager" ref="fatturaAttivaFromEntiManager" />
        <property name="enteManager" ref="enteManager" />
        <property name="chiaveManager" ref="chiaveManager" />
    </bean>

    <!-- PROCESSOR -->
    <bean id="mockResponseAttivaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.MockResponseAttivaProcessor"/>
    <bean id="salvaNotificheProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.SalvaNotificheProcessor">
        <property name="fatturazionePassivaNotificheCAManagerXA" ref="notifichePersistenceCAManagerXA" />
    </bean>
    <bean id="infoEnteCAProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.InfoEnteCAProcessor">
        <property name="enteManager" ref="enteManager" />
        <property name="chiaveManager" ref="chiaveManager"/>
    </bean>
    <bean id="creaMessaggioRispostaSuccessoProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.CreaMessaggioRispostaSuccessoProcessor" />
    <bean id="creaMessaggioRispostaFallimentoProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.CreaMessaggioRispostaFallimentoProcessor" />
    <bean id="creaRispostaRicezioneFatturaAttivaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.CreaRispostaRicezioneFatturaAttivaProcessor" />
    <bean id="validazioneEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.ValidazioneEsitoCommittenteProcessor" />
    <bean id="verificaReqEsitoCommittenteCAProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.processors.VerificaReqEsitoCommittenteCAProcessor" />


    <!-- Strategies -->
    <bean id="infoEnteCAAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.strategies.InfoEnteCAAggregationStrategy" />
    <bean id="fatturaAttivaValidationAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.strategies.FatturaAttivaValidationAggregationStrategy" />
    <bean id="esitoCommittenteValidationAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.inbound.ca.strategies.EsitoCommittenteValidationAggregationStrategy" />


    <!-- Exception -->
    <bean id="fatturaPACampiObbligatoriNonValorizzatiException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPACampiObbligatoriNonValorizzatiException"/>
    <bean id="fatturaPAEnteNonTrovatoException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAEnteNonTrovatoException"/>
    <bean id="fatturaPACredenzialiNonValideException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPACredenzialiNonValideException"/>
    <bean id="fatturaPAValidazioneFallitaException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAValidazioneFallitaException"/>
    <bean id="fatturaPANomeFileErratoException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPANomeFileErratoException"/>
    <bean id="fatturaPAAllegatoNotificaEsitoCommNonTrovatoException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAAllegatoNotificaEsitoCommNonTrovatoException"/>
    <bean id="fatturaPAAllegatoAttivaNonTrovatoException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAAllegatoAttivaNonTrovatoException"/>

</blueprint>