<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <!-- Bean Rotte-->
    <bean id="timerRoute"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.routes.EndpointStartDynamicRoutes"/>

    <bean id="validationFileRoutes" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.routes.ValidationFileRoutes"/>

    <bean id="ripulituraFileRoutes" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.routes.BatchRipulituraFileRoutes"/>

    <bean id="elaboraFileRoutes" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.routes.ElaboraFileRoutes"/>


    <!-- Bean Manager -->
    <bean id="enteManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EnteManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="enteDao" ref="enteDao"/>
        <property name="utentiDao" ref="utentiDao"/>
        <property name="tipoCanaleDao" ref="tipoCanaleDao"/>
        <property name="endpointAttivaCaDao" ref="endpointAttivaCaDao"/>
        <property name="endpointCaDao" ref="endpointCaDao"/>
        <property name="canaleCaDao" ref="canaleCaDao"/>
        <property name="chiaveDao" ref="chiaveDao"/>
        <property name="entePaleoCaDao" ref="entePaleoCaDao"/>
    </bean>

    <bean id="chiaveManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.ChiaveManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="chiaveDao" ref="chiaveDao"/>
    </bean>

    <bean id="fatturaAttivaFromEntiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaManagerImpl">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="fatturaAttivaDao" ref="fatturaAttivaDao" />
        <property name="statoFatturaAttivaDao" ref="statoFatturaAttivaDao" />
        <property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao" />
        <property name="enteDao" ref="enteDao" />
        <property name="statoConverter" ref="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" />
    </bean>


    <bean id="notifichePersistenceCAManagerXA" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaNotificheCAManagerXAImpl">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit-xa" />
        <property name="notificaDao" ref="notificaFromEntiDao" />
        <property name="statoFatturaDao" ref="statoFatturaDao" />
        <property name="codificaStatiDao" ref="codificaStatiDao" />
        <property name="datiFatturaDao" ref="datiFatturaDao" />
        <property name="notificaFromEntiToEntityCAConverter" ref="notificaFromEntiToEntityCAConverter" />
    </bean>

    <bean id="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.FatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" />


    <bean id="dynamicStartRoutes"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.processor.DynamicStartRoutes">
        <property name="enteManager" ref="enteManager"/>
        <property name="chiaveManager" ref="chiaveManager"/>
        <property name="componentFtp" value="${fatturapa.component.ftp}"/>
        <property name="dirIn" value="${fatturapa.ftp.dir.in}"/>
        <property name="dirOut" value="${fatturapa.ftp.dir.out}"/>
        <property name="dirZip" value="${fatturapa.dir.zip.ricezione}"/>
    </bean>

    <bean id="inviaFileEsito" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.routes.InviaEsitoRoutes"/>

    <bean id="filterDirectory" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.filter.FilterDirectoryZipFile"/>

    <bean id="ftpFilter" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.filter.FtpFilterSizeFile">
           <property name="fileMaxZip" value="${fatturapa.ftp.max.size.zip}"/>
    </bean>

    <bean id="pollEnrichAggregator" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.aggregator.PollEnrichAggregator"/>


    <bean id="salvaFatturaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.processor.SalvaFatturaAttivaProcessor">
        <property name="fatturaAttivaFromEntiManager" ref="fatturaAttivaFromEntiManager" />
        <property name="enteManager" ref="enteManager" />
    </bean>

    <bean id="salvaEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.ftp.ricezione.processor.SalvaEsitoCommittenteProcessor">
        <property name="fatturazionePassivaNotificheCAManagerXA" ref="notifichePersistenceCAManagerXA" />
    </bean>

    <!-- DAO -->
    <bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao"/>
    <bean id="statoFatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaAttivaDao" />
    <bean id="fatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaDao" />
    <bean id="codificaStatiAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiAttivaDao" />
    <bean id="notificaFromEntiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaFromEntiDao" />
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao" />
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao" />
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao" />
    <bean id="notificaFromEntiToEntityCAConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.NotificaFromEntiToEntityCAConverter" />
    <bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>
    <bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
    <bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
    <bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
    <bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
    <bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
    <bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>

    <bean id="XA_TX_REQUIRED" class="org.apache.camel.spring.spi.SpringTransactionPolicy">
        <property name="transactionManager" ref="platformTxManager" />
    </bean>

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="30" />
    </bean>


</blueprint>