<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="5" />
    </bean>

    <!-- CXF -->
    <bean id="originalSoapMessageInHeaderInterceptor" class="it.extrasys.marche.regione.fatturapa.core.utils.cxf.interceptors.OriginalSoapMessageInHeaderInterceptor"/>
    <bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
    <!--bean id="outboundSecurityInterceptor" class="it.extrasys.marche.regione.fatturapa.registrazione.ca.interceptor.BasicAuthCXFClientInterceptor"/-->

    <!-- Exception -->
    <bean id="fatturaPAFatalException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAFatalException"/>

    <!-- DAO -->
    <bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao"/>
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>
    <bean id="notificheAttivaFromSdiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificheAttivaFromSdiDao"/>
    <bean id="tipoNotificaAttivaFromSdiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoNotificaAttivaFromSdiDao"/>
    <bean id="codificaStatiAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiAttivaDao"/>
    <bean id="fatturaAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaRicevutaConsegnaDao"/>
    <bean id="fatturaAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaMancataConsegnaDao"/>
    <bean id="fatturaAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaScartoDao"/>
    <bean id="fatturaAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaEsitoDao"/>
    <bean id="fatturaAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaDecorrenzaTerminiDao"/>
    <bean id="fatturaAttivaAttestaioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaAttestaioneTrasmissioneFatturaDao"/>
    <bean id="statoAttivaAttestazioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaAttestazioneTrasmissioneFatturaDao"/>
    <bean id="statoAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaRicevutaConsegnaDao"/>
    <bean id="statoAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaMancataConsegnaDao"/>
    <bean id="statoAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaScartoDao"/>
    <bean id="statoAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaEsitoDao"/>
    <bean id="statoAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaDecorrenzaTerminiDao"/>
    <bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
    <bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
    <bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
    <bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
    <bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
    <bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>
    <bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>

    <!-- Manager -->
    <bean id="enteManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EnteManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="enteDao" ref="enteDao"/>
        <property name="utentiDao" ref="utentiDao"/>
        <property name="tipoCanaleDao" ref="tipoCanaleDao"/>
        <property name="endpointAttivaCaDao" ref="endpointAttivaCaDao"/>
        <property name="endpointCaDao" ref="endpointCaDao"/>
        <property name="canaleCaDao" ref="canaleCaDao"/>
        <property name="chiaveDao" ref="chiaveDao"/>
        <property name="entePaleoCaDao" ref="entePaleoCaDao"/>
    </bean>
    <bean id="datiFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.DatiFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>
    <bean id="notificheAttivaFromSdiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.NotificheAttivaFromSdiManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="notificheAttivaFromSdiDao" ref="notificheAttivaFromSdiDao"/>
        <property name="tipoNotificaAttivaFromSdiDao" ref="tipoNotificaAttivaFromSdiDao"/>
    </bean>
    <bean id="fatturaAttivaNotificheManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaNotificheManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao"/>

        <property name="fatturaAttivaRicevutaConsegnaDao" ref="fatturaAttivaRicevutaConsegnaDao"/>
        <property name="fatturaAttivaNotificaMancataConsegnaDao" ref="fatturaAttivaNotificaMancataConsegnaDao"/>
        <property name="fatturaAttivaNotificaScartoDao" ref="fatturaAttivaNotificaScartoDao"/>
        <property name="fatturaAttivaNotificaEsitoDao" ref="fatturaAttivaNotificaEsitoDao"/>
        <property name="fatturaAttivaNotificaDecorrenzaTerminiDao" ref="fatturaAttivaNotificaDecorrenzaTerminiDao"/>
        <property name="fatturaAttivaAttestaioneTrasmissioneFatturaDao" ref="fatturaAttivaAttestaioneTrasmissioneFatturaDao"/>

        <property name="statoAttivaRicevutaConsegnaDao" ref="statoAttivaRicevutaConsegnaDao"/>
        <property name="statoAttivaNotificaMancataConsegnaDao" ref="statoAttivaNotificaMancataConsegnaDao"/>
        <property name="statoAttivaNotificaScartoDao" ref="statoAttivaNotificaScartoDao"/>
        <property name="statoAttivaAttestazioneTrasmissioneFatturaDao" ref="statoAttivaAttestazioneTrasmissioneFatturaDao"/>
        <property name="statoAttivaNotificaEsitoDao" ref="statoAttivaNotificaEsitoDao"/>
        <property name="statoAttivaNotificaDecorrenzaTerminiDao" ref="statoAttivaNotificaDecorrenzaTerminiDao"/>
    </bean>

    <bean id="chiaveManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.ChiaveManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="chiaveDao" ref="chiaveDao"/>
    </bean>

    <!-- Processor -->
    <bean id="registrazioneCAManager" class="it.extrasys.marche.regione.fatturapa.registrazione.ca.RegistrazioneCAManager">
        <!-- Ref Manager -->
        <property name="enteManager" ref="enteManager"/>
        <property name="notificheAttivaFromSdiManager" ref="notificheAttivaFromSdiManager"/>
        <property name="chiaveManager" ref="chiaveManager"/>
    </bean>
    <bean id="creaRichiestaRegistrazioneProcessor" class="it.extrasys.marche.regione.fatturapa.registrazione.ca.processor.CreaRichiestaRegistrazioneProcessor"/>
    <bean id="aggiornaStatoProcessor" class="it.extrasys.marche.regione.fatturapa.registrazione.ca.processor.AggiornaStatoProcessor">
        <property name="datiFatturaManager" ref="datiFatturaManager"/>
    </bean>
    <bean id="creaRichiestaRegistrazioneAttivaProcessor" class="it.extrasys.marche.regione.fatturapa.registrazione.ca.processor.CreaRichiestaRegistrazioneAttivaProcessor"/>
    <bean id="aggiornaStatoNotificaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.areas.attiva.processors.AggiornaStatoNotificaProcessor">
        <property name="fatturaAttivaNotificheManager" ref="fatturaAttivaNotificheManager"/>
    </bean>
    <bean id="xmlStringSanitizerProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.FatturaXmlSanitizerProcessor"/>
    <bean id="wrapFatturaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.WrapFatturaProcessor"/>
    <bean id="wrapNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.WrapNotificaDecorrenzaTerminiProcessor"/>
    <bean id="wrapNotificaScartoEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.scarto.esito.committente.WrapNotificaScartoEsitoCommittenteProcessor"/>

</blueprint>