<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

      <!--Processor-->
    <bean id="rispostaEsitoConsegnaProcessor"
          class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.processor.RispostaEsitoConsegnaProcessor"/>
    <bean id="creaRichiestaProtocollazioneAgid"
          class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.processor.CreaRichiestaProtocollazioneAgid"/>

    <!--Strategy-->
    <bean id="infoEnteAgidCAAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.strategy.InfoEnteAgidCAAggregationStrategy"/>

    <bean id="infoMittenteAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.strategy.InfoMittenteAggregationStrategy"/>

    <bean id="protocollazioneNotificaEsitoCommittenteAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.strategy.ProtocollazioneNotificaEsitoCommittenteAggregationStrategy"/>

    <bean id="rupAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.RUPAggregationStrategy"/>

    <bean id="rupSplitterAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.RupSplitterAggregationStrategy"/>

    <bean id="protocollazioneAggregationStrategy"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.ProtocollazioneAggregationStrategy"/>

    <bean id="segnaturaProtocolloFatturaAggregationStrategyEC"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.esito.committente.SegnaturaProtocolloFatturaAggregationStrategy"/>

    <bean id="segnaturaProtocolloFatturaAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.SegnaturaProtocolloFatturaAggregationStrategy"/>


    <bean id="protocollazioneNotificaScartoEsitoCommittenteAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.scarto.esito.committente.ProtocollazioneAggregationStrategy"/>

    <bean id="protocollazioneNotificaDecorrenzaTerminiAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.ProtocollazioneAggregationStrategy"/>

    <bean id="segnaturaProtocolloFatturaAggregationStrategyScartoEC" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.scarto.esito.committente.SegnaturaProtocolloFatturaAggregationStrategy"/>

    <bean id="aggiornaStatoFattureANotificaScartoECProtocollataProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.scarto.esito.committente.AggiornaStatoFattureANotificaScartoECProtocollataProcessor">
        <property name="fatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="aggiornaStatoFattureANotificaProtocollataProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.AggiornaStatoFattureANotificaProtocollataProcessor">
        <property name="fatturaManager" ref="datiFatturaManager"/>
    </bean>


    <bean id="agidCAManager" class="it.extrasys.marche.regione.fatturapa.protocollo.agid.ca.AgidCAManager">
        <property name="enteManager" ref="enteManager"/>
        <property name="notificaFromSdiManager" ref="notificaFromSdiManager"/>
        <property name="datiFatturaManager" ref="datiFatturaManager"/>
        <property name="fatturazionePassivaNotificaDecorrenzaTerminiManager" ref="fatturazionePassivaNotificaDecorrenzaTerminiManager"/>
        <property name="chiaveManager" ref="chiaveManager"/>
    </bean>


    <bean id="xmlStringSanitizerProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.FatturaXmlSanitizerProcessor"/>
    <bean id="wrapFatturaProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.WrapFatturaProcessor"/>

    <bean id="wrapNotificaEsitoCommitteteProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.WrapNotificaEsitoCommittenteProcessor"/>

    <bean id="wrapNotificaScartoEsitoCommitteteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.scarto.esito.committente.WrapNotificaScartoEsitoCommittenteProcessor"/>

    <bean id="wrapNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.WrapNotificaDecorrenzaTerminiProcessor"/>


    <!-- Exception -->
    <bean id="fatturaPAFatalException"
          class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAFatalException"/>


    <!-- Manager -->
    <bean id="chiaveManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.ChiaveManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="chiaveDao" ref="chiaveDao"/>
    </bean>

    <bean id="enteManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EnteManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="enteDao" ref="enteDao"/>
        <property name="utentiDao" ref="utentiDao"/>
        <property name="tipoCanaleDao" ref="tipoCanaleDao"/>
        <property name="endpointAttivaCaDao" ref="endpointAttivaCaDao"/>
        <property name="endpointCaDao" ref="endpointCaDao"/>
        <property name="canaleCaDao" ref="canaleCaDao"/>
        <property name="chiaveDao" ref="chiaveDao"/>
        <property name="entePaleoCaDao" ref="entePaleoCaDao"/>
    </bean>
    <bean id="aggiornaStatoFattureAProtocollataProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.AggiornaStatoFattureAProtocollataProcessor">
        <property name="fatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="datiFatturaManager"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.DatiFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>

    <bean id="fatturazionePassivaNotificaDecorrenzaTerminiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaNotificaDecorrenzaTerminiManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="notificaDecorrenzaTerminiDao" ref="notificaDecorrenzaTerminiDao"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
    </bean>

    <bean id="notificaFromSdiManager"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.NotificaFromSdiManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="notificaFromEntiDao" ref="notificaFromEntiDao"/>
        <property name="notificaFromSdiDao" ref="notificaFromSdiDao"/>
    </bean>

    <bean id="recuperaSegnaturaProtocolloFatturaProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.RecuperaSegnaturaProtocolloFatturaProcessor">
        <property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManager"/>
    </bean>

    <bean id="fatturazionePassivaFatturaManager"
          class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="fileFatturaDao" ref="fileFatturaDao"/>
    </bean>

    <bean id="aggiornaStatoFattureANotificaECProtocollataProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.AggiornaStatoFattureANotificaECProtocollataProcessor">
        <property name="fatturaManager" ref="datiFatturaManager"/>
    </bean>

    <!-- DAO -->
    <bean id="notificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaDecorrenzaTerminiDao"/>
    <bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao"/>
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>
    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>
    <bean id="notificaFromEntiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaFromEntiDao"/>
    <bean id="notificaFromSdiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaFromSdiDao"/>
    <bean id="fileFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FileFatturaDao"/>
    <bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>
    <bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
    <bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
    <bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
    <bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
    <bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
    <bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>

    <bean id="usernamePasswordCallbackHandler"
          class="it.extrasys.marche.regione.fatturapa.core.utils.cxf.interceptors.UsernamePasswordCallbackHandler">
        <property name="username" value="username"/>
        <property name="password" value="password"/>
    </bean>


    <bean id="agidCAProtocollazioneRedeliveryPolicyConfig" class="org.apache.camel.processor.RedeliveryPolicy">
        <property name="maximumRedeliveries" value="${agidCAProtocollazioneRedeliveryPolicyConfig.retry.attempts}"/>
        <property name="redeliveryDelay" value="${agidCAProtocollazioneRedeliveryPolicyConfig.retry.delay}"/>
        <property name="useExponentialBackOff" value="true"/>
        <property name="backOffMultiplier" value="${agidCAProtocollazioneRedeliveryPolicyConfig.backOffMultiplier}"/>
        <property name="retryAttemptedLogLevel"
                  value="${agidCAProtocollazioneRedeliveryPolicyConfig.retryAttemptedLogLevel}"/>
    </bean>

</blueprint>