--${camelContext.resolvePropertyPlaceholders("{{extraFormBoundary}}")}
Content-Disposition: form-data; name="segnatura"

${headers.numeroProtocollo}
--${camelContext.resolvePropertyPlaceholders("{{extraFormBoundary}}")}
Content-Disposition: form-data; name="sdi"

${headers.identificativoSdI}
--${camelContext.resolvePropertyPlaceholders("{{extraFormBoundary}}")}
Content-Disposition: form-data; name="dataRicezioneSdi"

${headers.dataRicezioneSdIFormattata}
--${camelContext.resolvePropertyPlaceholders("{{extraFormBoundary}}")}
Content-Disposition: form-data; name="fileUpload"; filename="${headers.nomeFile}"
Content-Type: text/xml

${headers.bodyToSend}
--${camelContext.resolvePropertyPlaceholders("{{extraFormBoundary}}")}--
