<?xml version="1.0" encoding="UTF-8"?>

<blueprint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">


	<reference id="jpaComponent" interface="org.apache.camel.spi.ComponentResolver" filter="(component=jpa)"/>

    <!-- Optional ESB Core logger for Camel routes -->
	<bean id="camelTracer" class="org.apache.camel.processor.interceptor.Tracer">
		<property name="traceExceptions" value="false" /> <!--true-->
		<property name="traceInterceptors" value="true" /> <!--false-->
		<property name="logLevel" value="TRACE" /> <!--INFO-->
		<property name="logName" value="camel.trace" /> <!--org.apache.camel.processor.interceptor.TraceInterceptor-->
	</bean>

	<bean id="XA_TX_REQUIRED" class="org.apache.camel.spring.spi.SpringTransactionPolicy">
		<property name="transactionManager" ref="platformTxManager"/>
	</bean>

	<bean id="enteDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EnteDao"/>

	<bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>

	<bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>

	<bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>

	<bean id="messaggiSDIDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.MessaggiSDIDao"/>

	<bean id="metadatiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.MetadatiFatturaDao" />

	<bean id="notificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaDecorrenzaTerminiDao"/>

	<bean id="metadatiToEntityConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.MetadatiToEntityConverter"/>

	<bean id="fatturaElettronicaToStatoFatturaEntityConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.FatturaElettronicaToStatoFatturaEntityConverter"/>

    <bean id="fileFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FileFatturaDao"/>

	<bean id="notificheAttivaFromSdiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificheAttivaFromSdiDao"/>

	<bean id="tipoNotificaAttivaFromSdiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoNotificaAttivaFromSdiDao"/>

	<bean id="statoFatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaAttivaDao"/>

	<bean id="codificaStatiAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiAttivaDao"/>

	<bean id="fatturaAttivaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaDao"/>

	<bean id="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter" class="it.extrasys.marche.regione.fatturapa.persistence.unit.converters.FatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter"/>

    <bean id="fatturazionePassivaNotificaDecorrenzaTerminiManagerXAImpl" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaNotificaDecorrenzaTerminiManagerXAImpl">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit-xa" />
		<property name="notificaDecorrenzaTerminiDao" ref="notificaDecorrenzaTerminiDao"/>
		<property name="datiFatturaDao" ref="datiFatturaDao"/>
		<property name="messaggiSDIDao" ref="messaggiSDIDao"/>
		<property name="codificaStatiDao" ref="codificaStatiDao"/>
		<property name="statoFatturaDao" ref="statoFatturaDao"/>
	</bean>

	<bean id="fatturazionePassivaFatturaInIngressoProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.processors.FatturazionePassivaFatturaInIngressoProcessor">
		<property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManager"/>
	</bean>

	<bean id="fatturazionePassivaNotificaDecorrenzaTerminiInIngressoProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.processors.FatturazionePassivaNotificaDecorrenzaTerminiInIngressoProcessor">
		<property name="fatturazionePassivaNotificaDecorrenzaTerminiManagerXAImpl" ref="fatturazionePassivaNotificaDecorrenzaTerminiManagerXAImpl"/>
	</bean>

	<!-- ########### REGMA 122: flusso semplificato ######## -->
	<bean id="checkFlussoSemplificatoProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.attiva.processors.CheckFlussoSemplificatoProcessor">
		<property name="enteManager" ref="enteManager"/>
	</bean>

	<!-- ########### REGMA 21: flusso semplificato ######## -->
	<bean id="isFlussoSemplificatoProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.attiva.processors.FlussoSemplificatoProcessor">
		<property name="fatturaAttivaManager" ref="fatturaAttivaManager"/>
	</bean>


	<bean id="flussoSemplificatoProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.flussosemplificato.FlussoSemplificatoProcessor">
		<property name="fatturaAttivaManager" ref="fatturaAttivaManager"/>
		<property name="xmlStringSanitizer" ref="xmlStringSanitizer"/>
	</bean>

	<bean id="flussoSemplificatoMetadatiAggregationStrategy" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.aggregationstrategy.FlussoSemplificatoMetadatiAggregationStrategy"/>

	<bean id="xmlStringSanitizer" class="it.extrasys.marche.regione.fatturapa.core.utils.signature.XmlStringSanitizer"/>

	<!-- ########### fine REGMA 122: flusso semplificato ######## -->

	<bean id="fatturaAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaRicevutaConsegnaDao"/>

	<bean id="fatturaAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaMancataConsegnaDao"/>

	<bean id="fatturaAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaScartoDao"/>

	<bean id="fatturaAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaEsitoDao"/>

	<bean id="fatturaAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaNotificaDecorrenzaTerminiDao"/>

	<bean id="fatturaAttivaAttestaioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FatturaAttivaAttestaioneTrasmissioneFatturaDao"/>

	<bean id="statoAttivaAttestazioneTrasmissioneFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaAttestazioneTrasmissioneFatturaDao"/>

	<bean id="statoAttivaRicevutaConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaRicevutaConsegnaDao"/>

	<bean id="statoAttivaNotificaMancataConsegnaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaMancataConsegnaDao"/>

	<bean id="statoAttivaNotificaScartoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaScartoDao"/>

	<bean id="statoAttivaNotificaEsitoDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaEsitoDao"/>

	<bean id="statoAttivaNotificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoAttivaNotificaDecorrenzaTerminiDao"/>

	<bean id="utentiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.UtentiDao"/>
	<bean id="tipoCanaleDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.TipoCanaleDao"/>
	<bean id="endpointAttivaCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointAttivaCaDao"/>
	<bean id="endpointCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EndpointCaDao"/>
	<bean id="canaleCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CanaleCaDao"/>
	<bean id="chiaveDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.ChiaveDao"/>
	<bean id="entePaleoCaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.EntePaleoCaDao"/>

	<bean id="fatturazionePassivaFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaFatturaManagerXAImpl">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit-xa" />
		<property name="codificaStatiDao" ref="codificaStatiDao"/>
		<property name="statoFatturaDao" ref="statoFatturaDao"/>
		<property name="datiFatturaDao" ref="datiFatturaDao"/>
		<property name="messaggiSDIDao" ref="messaggiSDIDao"/>
		<property name="metadatiFatturaDao" ref="metadatiFatturaDao"/>
		<property name="metadatiConverter" ref="metadatiToEntityConverter"/>
		<property name="statoFatturaConverter" ref="fatturaElettronicaToStatoFatturaEntityConverter"/>
        <property name="fileFatturaDao" ref="fileFatturaDao"/>
	</bean>

	<bean id="fatturaAttivaNotificheManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaNotificheManager">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
		<property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao"/>

		<property name="fatturaAttivaRicevutaConsegnaDao" ref="fatturaAttivaRicevutaConsegnaDao"/>
		<property name="fatturaAttivaNotificaMancataConsegnaDao" ref="fatturaAttivaNotificaMancataConsegnaDao"/>
		<property name="fatturaAttivaNotificaScartoDao" ref="fatturaAttivaNotificaScartoDao"/>
		<property name="fatturaAttivaNotificaEsitoDao" ref="fatturaAttivaNotificaEsitoDao"/>
		<property name="fatturaAttivaNotificaDecorrenzaTerminiDao" ref="fatturaAttivaNotificaDecorrenzaTerminiDao"/>
		<property name="fatturaAttivaAttestaioneTrasmissioneFatturaDao" ref="fatturaAttivaAttestaioneTrasmissioneFatturaDao"/>

		<property name="statoAttivaRicevutaConsegnaDao" ref="statoAttivaRicevutaConsegnaDao"/>
		<property name="statoAttivaNotificaMancataConsegnaDao" ref="statoAttivaNotificaMancataConsegnaDao"/>
		<property name="statoAttivaNotificaScartoDao" ref="statoAttivaNotificaScartoDao"/>
		<property name="statoAttivaAttestazioneTrasmissioneFatturaDao" ref="statoAttivaAttestazioneTrasmissioneFatturaDao"/>
		<property name="statoAttivaNotificaEsitoDao" ref="statoAttivaNotificaEsitoDao"/>
		<property name="statoAttivaNotificaDecorrenzaTerminiDao" ref="statoAttivaNotificaDecorrenzaTerminiDao"/>
	</bean>

	<bean id="enteManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.EnteManager">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
		<property name="enteDao" ref="enteDao"/>
		<property name="utentiDao" ref="utentiDao"/>
		<property name="tipoCanaleDao" ref="tipoCanaleDao"/>
		<property name="endpointAttivaCaDao" ref="endpointAttivaCaDao"/>
		<property name="endpointCaDao" ref="endpointCaDao"/>
		<property name="canaleCaDao" ref="canaleCaDao"/>
		<property name="chiaveDao" ref="chiaveDao"/>
		<property name="entePaleoCaDao" ref="entePaleoCaDao"/>
	</bean>

	<bean id="traceFormatter"
		  class="org.apache.camel.processor.interceptor.DefaultTraceFormatter">
		<!--<property name="showBody" value="true" />-->
		<property name="showBodyType" value="true" />
		<property name="showOutBody" value="true" />
		<!--<property name="showBreadCrumb" value="true" />-->
		<property name="breadCrumbLength" value="200" /> <!--default is 0 i.e. no fixed length-->
		<property name="maxChars" value="2000" /> <!--default is 10000-->
	</bean>

	<bean id="originalSoapMessageInHeaderInterceptor" class="it.extrasys.marche.regione.fatturapa.core.utils.cxf.interceptors.OriginalSoapMessageInHeaderInterceptor"/>

	<bean id="servizioNonDisponibileException" class="java.lang.Exception">
		<argument index="0" value="Servizio Non Disponibile"/>
	</bean>

	<bean id="creaRispostaRicezioneFatturaProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.processors.CreaRispostaRicezioneFatturaProcessor"/>

	<bean id="creaRispostaNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.processors.CreaRispostaNotificaDecorrenzaTerminiProcessor"/>

	<bean id="estraiMessaggioOriginaleProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.processors.EstraiMessaggioOriginaleProcessor"/>

	<bean id="estraiMessaggioAttivaProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.attiva.processors.EstraiMessaggioAttivaProcessor">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
		<!--jpa:unit property="entityManagerFactory" unitname="persistence-unit-xa" /-->
		<property name="datiFatturaDao" ref="datiFatturaDao"/>
		<property name="fatturaAttivaManager" ref="fatturaAttivaManager"/>
	</bean>

	<bean id="aggiornaStatoMessaggioFatturaAttivaProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.attiva.processors.AggiornaStatoMessaggioFatturaAttivaProcessor">
		<property name="fatturaAttivaManager" ref="fatturaAttivaManager"/>
		<property name="fatturaAttivaNotificheManager" ref="fatturaAttivaNotificheManager"/>
	</bean>

	<bean id="salvaMessaggioAttivaProcessor" class="it.extrasys.marche.regione.sdi.bridge.inbound.ricevi.fatture.attiva.processors.SalvaMessaggioAttivaProcessor">
		<property name="notificheAttivaFromSdiManager" ref="notificheAttivaFromSdiManager"/>
	</bean>

	<bean id="fatturaAttivaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturaAttivaManagerImpl">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
		<property name="statoConverter" ref="fatturaElettronicaAttivaToStatoFatturaAttivaEntityConverter"/>
		<property name="fatturaAttivaDao" ref="fatturaAttivaDao"/>
		<property name="codificaStatiAttivaDao" ref="codificaStatiAttivaDao"/>
		<property name="statoFatturaAttivaDao" ref="statoFatturaAttivaDao"/>
		<property name="enteDao" ref="enteDao"/>
	</bean>

	<bean id="notificheAttivaFromSdiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.NotificheAttivaFromSdiManager">
		<jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
		<property name="notificheAttivaFromSdiDao" ref="notificheAttivaFromSdiDao"/>
		<property name="tipoNotificaAttivaFromSdiDao" ref="tipoNotificaAttivaFromSdiDao"/>
	</bean>

	<bean id="sdiInboundAttivaRedeliveryPolicyConfig" class="org.apache.camel.processor.RedeliveryPolicy">
		<property name="maximumRedeliveries" value="${sdiInboundAttivaRedeliveryPolicyConfig.retry.attempts}" />
		<property name="redeliveryDelay" value="${sdiInboundAttivaRedeliveryPolicyConfig.retry.delay}" />
		<property name="useExponentialBackOff" value="${sdiInboundAttivaRedeliveryPolicyConfig.useExponentialBackOff}" />
		<property name="backOffMultiplier" value="${sdiInboundAttivaRedeliveryPolicyConfig.backOffMultiplier}" />
		<property name="retryAttemptedLogLevel" value="${sdiInboundAttivaRedeliveryPolicyConfig.retryAttemptedLogLevel}" />
	</bean>

	<bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
		<property name="timeout" value="5" />
	</bean>

</blueprint>