<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">

    <bean id="log" class="it.extrasys.marche.regione.fatturapa.enti.bridge.consiglio.processors.fatto.Log"/>

    <bean id="fatturaHeadersFilterStrategy" class="org.apache.camel.impl.DefaultHeaderFilterStrategy">
        <property name="outFilterPattern">
            <value>^((?!SOAPAction).)*$</value>
        </property>
    </bean>


    <!-- Exception & Redelivery -->

    <bean id="paleoProtocollazioneRedeliveryPolicyConfig" class="org.apache.camel.processor.RedeliveryPolicy">
        <property name="maximumRedeliveries" value="${paleoProtocollazioneRedeliveryPolicyConfig.retry.attempts}"/>
        <property name="redeliveryDelay" value="${paleoProtocollazioneRedeliveryPolicyConfig.retry.delay}"/>
        <property name="useExponentialBackOff" value="true"/>
        <property name="backOffMultiplier" value="${paleoProtocollazioneRedeliveryPolicyConfig.backOffMultiplier}"/>
        <property name="retryAttemptedLogLevel" value="${paleoProtocollazioneRedeliveryPolicyConfig.retryAttemptedLogLevel}"/>
    </bean>

    <bean id="fatturaPAFatalException" class="it.extrasys.marche.regione.fatturapa.core.exceptions.FatturaPAFatalException"/>

    <!-- FINE  Exception & Redelivery -->


    <bean id="cacheService" class="it.extrasys.marche.regione.fatturapa.enti.bridge.giunta.beans.MapCacheService"/>

    <!-- Strategies -->
    <bean id="rupAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.RUPAggregationStrategy"/>
    <bean id="cedenteAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.CedenteAggregationStrategy"/>
    <bean id="rupSplitterAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.RupSplitterAggregationStrategy"/>
    <bean id="xsltAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.XsltAggregationStrategy"/>
    <bean id="dataRicezioneAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.DataRicezioneAggregationStrategy"/>
    <bean id="protocollazioneAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.ProtocollazioneAggregationStrategy"/>
    <bean id="segnaturaProtocolloFatturaAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.SegnaturaProtocolloFatturaAggregationStrategy"/>
    <bean id="classificazioniAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.ClassificazioniAggregationStrategy"/>
    <bean id="protocollazioneNotificaDecorrenzaTerminiAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.ProtocollazioneAggregationStrategy"/>
    <bean id="uoAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.UOAggregationStrategy"/>
    <bean id="fascicoloAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.fattura.FascicoloAggregationStrategy"/>
    <!-- queste 2 per regma 140 -->
    <bean id="operatoriSplitterAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.OperatoriSplitterAggregationStrategy"/>
    <bean id="operatoriAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.decorrenza.termini.OperatoriAggregationStrategy"/>
    <!-- Notifica esito committente strategy -->
    <bean id="classificazioniNotificaEsitoCommittenteAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.esito.committente.ClassificazioniAggregationStrategy"/>
    <bean id="protocollazioneNotificaEsitoCommittenteAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.esito.committente.ProtocollazioneAggregationStrategy"/>
    <bean id="segnaturaProtocolloFatturaNotificaEsitoCommittenteAggregationStrategy" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.strategies.notifica.esito.committente.SegnaturaProtocolloFatturaAggregationStrategy"/>
    <!-- FINE Strategies -->


    <!-- Processors -->
    <bean id="estraiCodiceStrutturaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.EstraiCodiceStrutturaProcessor">
        <property name="pattern" value="${giunta.estraiCodiceFascicolo.pattern}"/>
    </bean>

    <bean id="wrapFatturaProcessor"
          class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.WrapFatturaProcessor"/>


    <bean id="rispostaFindOperatoriProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RispostaFindOperatoriProcessor">
        <argument index="0" value="LETTORE,AMMINISTRATORE REGISTRO,PROTOCOLLISTA"/>
    </bean>

    <bean id="rispostaFindOperatoriRagioneAssegnazioneProtocolloProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.RispostaFindOperatoriRagioneAssegnazioneProtocolloProcessor"/>

    <bean id="creaRichiestaFindRubricaExt" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.CreaRichiestaFindRubricaExtProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
    </bean>

    <bean id="rispostaFindRubricaExtProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RispostaFindRubricaExtProcessor"/>

    <bean id="creaRichiestaFindOperatori" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.CreaRichiestaFindOperatoriProcessor"/>

    <bean id="creaRichiestaProtocollazioneEntrataProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.CreaRichiestaProtocollazioneEntrataProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
        <property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManager"/>
        <property name="codiceRegistro" value="${giunta.codiceRegistro}"/>
    </bean>

    <bean id="rispostaProtocollazioneEntrataProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RispostaProtocollazioneEntrataProcessor"/>

    <bean id="recuperaDataRicezioneFatturaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RecuperaDataRicezioneFatturaProcessor">
        <property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManager" />
    </bean>

    <bean id="aggiornaStatoFattureAProtocollataProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.AggiornaStatoFattureAProtocollataProcessor">
        <property name="fatturaManager" ref="datiFatturaManager"/>
    </bean>

    <bean id="creaRichiestaCercaDocumentoProtocolloProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.CreaRichiestaCercaDocumentoProtocolloProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
    </bean>

    <bean id="recuperaSegnaturaProtocolloFatturaProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.RecuperaSegnaturaProtocolloFatturaProcessor">
        <property name="fatturazionePassivaFatturaManager" ref="fatturazionePassivaFatturaManager"/>
    </bean>

    <bean id="wrapNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.WrapNotificaDecorrenzaTerminiProcessor"/>

    <bean id="rispostaCercaDocumentoProtocolloProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.RispostaCercaDocumentoProtocolloProcessor"/>

    <bean id="creaRichiestaProtocollazioneNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.CreaRichiestaProtocollazioneNotificaDecorrenzaTerminiProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
        <property name="codiceRegistro" value="${giunta.codiceRegistro}"/>
        <property name="codiceUOOperatoriTrasmissione" value="${giunta.codiceUOOperatoriTrasmissione}"/>
    </bean>

    <bean id="rispostaProtocollazioneNotificaDecorrenzaTerminiProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.decorrenza.termini.RispostaProtocollazioneNotificaDecorrenzaTerminiProcessor"/>

    <bean id="creaRichiestaGetUO" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.CreaRichiestaGetUOProcessor">
        <property name="codiceRegistro" value="${giunta.codiceRegistro}"/>
    </bean>

    <bean id="rispostaGetUOProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RispostaGetUOProcessor"/>

    <bean id="wrapNotificaEsitoCommitteteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.WrapNotificaEsitoCommittenteProcessor"/>

    <bean id="creaRichiestaCercaDocumentoProtocolloEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.CreaRichiestaCercaDocumentoProtocolloEsitoCommittenteProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
    </bean>

    <bean id="creaRichiestaProtocollazioneEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.CreaRichiestaProtocollazioneEsitoCommittenteProcessor">
        <property name="fatturazionePassivaNotificaDecorrenzaTerminiManager" ref="fatturazionePassivaNotificaDecorrenzaTerminiManager"/>
    </bean>

    <bean id="rispostaProtocollazioneNotificaEsitoCommittenteProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.RispostaProtocollazioneNotificaEsitoCommittenteProcessor"/>

    <bean id="giuntaXmlStringSanitizerProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.FatturaXmlSanitizerProcessor"/>

    <bean id="rispostaGetDocumentiProtocolliInFascicoloProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.RispostaGetDocumentiProtocolliInFascicoloProcessor"/>

    <bean id="creaRichiestaGetDocumentiProtocolliInFascicoloProcessor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.fattura.CreaRichiestaGetDocumentiProtocolliInFascicoloProcessor">
        <property name="nome" value="${giunta.operatorePaleo.nome}"/>
        <property name="cognome" value="${giunta.operatorePaleo.cognome}"/>
        <property name="codiceUO" value="${giunta.operatorePaleo.codiceUO}"/>
        <property name="ruolo" value="${giunta.operatorePaleo.ruolo}"/>
        <property name="uo" value="${giunta.operatorePaleo.uo}"/>
    </bean>

    <bean id="estraiNotificaBase64Processor" class="it.extrasys.marche.regione.fatturapa.enti.bridge.paleo.processors.notifica.esito.committente.EstraiNotificaBase64Processor"/>
    <!-- FINE  Processors -->

    <!--  CXF  -->
    <bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>

    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>

    <bean id="usernamePasswordCallbackHandler" class="it.extrasys.marche.regione.fatturapa.core.utils.cxf.interceptors.UsernamePasswordCallbackHandler">
        <property name="username" value="${giunta.paleo.username}"/>
        <property name="password" value="${giunta.paleo.password}"/>
    </bean>
    <!--  FINE CXF  -->

    <!-- Persistence -->
    <bean id="fatturazionePassivaFatturaManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaFatturaManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="fileFatturaDao" ref="fileFatturaDao"/>
    </bean>

    <bean id="registrazioneBean" class="it.extrasys.marche.regione.fatturapa.enti.bridge.giunta.beans.RegistrazioneBean">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit" />
        <property name="datiFatturaDao" ref="datiFatturaDao"/>
        <property name="statoFatturaDao" ref="statoFatturaDao"/>
        <property name="codificaStatiDao" ref="codificaStatiDao"/>
    </bean>

    <bean id="fatturazionePassivaNotificaDecorrenzaTerminiManager" class="it.extrasys.marche.regione.fatturapa.persistence.unit.managers.FatturazionePassivaNotificaDecorrenzaTerminiManager">
        <jpa:unit property="entityManagerFactory" unitname="persistence-unit"/>
        <property name="notificaDecorrenzaTerminiDao" ref="notificaDecorrenzaTerminiDao"/>
    </bean>

    <bean id="codificaStatiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.CodificaStatiDao"/>
    <bean id="datiFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.DatiFatturaDao"/>
    <bean id="statoFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.StatoFatturaDao"/>
    <bean id="fileFatturaDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.FileFatturaDao"/>
    <bean id="notificaDecorrenzaTerminiDao" class="it.extrasys.marche.regione.fatturapa.persistence.unit.dao.NotificaDecorrenzaTerminiDao"/>
    <!-- FINE Persistence -->

    <bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
        <property name="timeout" value="5" />
    </bean>

</blueprint>